.education{
}
.education hr{
    width: 100%;
    border-top: 1px solid #daa520;
}
.col-left{
  margin-left: 10%;
  margin-right: -10%;
}


/* ------------ Animations ----------------- */
.anim-hr2 {
  animation-name: anim-hr2;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-hr2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
