.education hr{
    border-top: 1px solid #daa520;
}
.col-left{
  margin-left: 10%;
  margin-right: -10%;
}
.education a{
  color: white;
}

/* --------------- Media Queries -------------- */

@media (max-width: 768px) {
  .col-left{
    margin-left: 0;
  }
  .education h5{
    font-size: 15px;
  }
  .education p{
    font-size: 12px;
  }
}

//---------------- Animations ----------------

.anim-education a{
  animation-name: anim-education;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes anim-education {
  from {
    color: #daa520;
  }
  to {
    color: white;
  }
}