.container {
  color: white;
  position: relative;
  border-radius: 20px;
  padding: 2%;
  background: rgba(255, 255, 255, 0.15);
}
.aboutMe {
  margin-top: 3%;
  margin-bottom: 3%;
}
.aboutMe div hr {
  border-top: 1px solid #daa520;
}

.avatar {
  margin-top: 5%;
  width: 80%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.avatar:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #daa520;
  font-weight: bold;
  display: inline-block;
  width: 3em;
  margin-left: -3em;
}

ul li span {
  font-size: 120%;
  font-weight: bold;
}

.progress {
  margin-top: 2%;
  margin-bottom: 2%;
}
.progress-bar {
  background: #757575;
}
.aboutLinks {
  padding: 0 3%;
  color: white;
  border: 1px solid #daa520;
  border-radius: 5px;
}
.aboutLinks:hover {
  color: white;
  background-color: #daa520;
}

//-------------- Animaciones ---------------

.anim-progress-html {
  animation-name: anim-progress-html;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-html {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.anim-progress-css {
  animation-name: anim-progress-css;
  animation-delay: 3.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-css {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.anim-progress-js {
  animation-name: anim-progress-js;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-js {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.anim-progress-react {
  animation-name: anim-progress-react;
  animation-delay: 4.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-react {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.anim-progress-node {
  animation-name: anim-progress-node;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-node {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

.anim-progress-bootstrap {
  animation-name: anim-progress-bootstrap;
  animation-delay: 5.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-progress-bootstrap {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

.anim-link {
  animation-name: anim-link;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes anim-link {
  from {
    background-color: #daa520;
  }
  to {
    background-color: none;
  }
}
