.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mdl-layout__drawer-button{
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 10px;
}
.mdl-layout__drawer{
  background: rgb(29, 29, 29) !important;
  border-right: 0px !important;
  color: white !important;
  transition-duration: 0.5s !important;
}
.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title{
  background: rgb(29, 29, 29) !important;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color: white !important;
}
.mdl-layout__drawer:hover .mdl-navigation:hover .mdl-navigation__link:hover{
  background-image: url(./img/background1.jpg) !important;
}
.mdl-navigation a:link{
  text-decoration: none;
}
/* ---------- Global Animations --------------- */

.anim-hr {
  animation-name: anim-hr;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-hr {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

.anim-hr2 {
  animation-name: anim-hr2;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes anim-hr2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.anim-container {
  animation-name: anim-container;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes anim-container {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 1;
    margin-top: 5%;
  }
}
